flutter/.dart_tool/
flutter/.flutter-plugins
flutter/.flutter-plugins-dependencies
flutter/.packages
flutter/.pub-cache/
flutter/.pub/
flutter/build/
flutter/coverage/
flutter/.env
flutter/android/.gradle/
flutter/ios/Pods/
flutter/macos/Pods/
flutter/*.iml
flutter/.idea/
server.env
worker/.venv/
worker/**/__pycache__/
*.pyc
.firebase/
firebase-debug.log
.DS_Store

